body{
font-family: sans-serif;
margin: 0px;
padding: 0px;
background-color: hsl(180, 8%, 52%);
}
.job{
display: flex;
margin: 0px;
padding:0px;

}
.sub{
display:flex;
flex-direction: row;
padding:20px;
margin: 5px 30px 5px 30px;
background-color: white;
justify-content: space-between;
border-radius: 7px;
}
.role{
display :flex;
flex-direction: row;
size: 2px;
margin: 3px;
height: 30%;
align-items: center;
padding: 2px;
justify-content: space-between;
}